.container-Footer {
  align-items: center;
  background: #054A91 0% 0% no-repeat padding-box;
  bottom: 0px;
  justify-content: center;
  display: flex;
  position: relative;
  margin-top: 10px;
  height: 87px;
  width: 100%;
}

.container-Footer h3 {
  color: #DAE3ED;
  font: normal normal normal 12px/12px Roboto;
  letter-spacing: 0px;
  text-align: center;
}

@media(max-width: 500px) {
  .container-Footer {
   position: relative;
  }
}
